.loader-container {
    margin-top: 25px;
    width: 100%;
    height: 15px;
    border: 1px solid rgb(16, 39, 14); 
    overflow: hidden; /* Скрываем часть загрузки, выходящую за границы контейнера */
  }
  
  .loader {
    height: 100%;
    border-radius: 10%;
    background-color: rgb(40, 119, 40); /* Зеленый цвет */
    transition: width 1s ease-in-out; /* Анимация изменения ширины */
  }
  