/* src/components/MainButton/MainButton.css */

.main-button {
    display: flex;
    height: 70px;
    border-radius: 12px;
    background-color: #212020; /* Цвет меню */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent); /* Градиент сверху */
  }
  
  .button-section {
    flex: 1;
    text-align: center;
    position: relative; /* Добавляем относительное позиционирование */
    line-height: 60px; /* Выравнивание текста по вертикали */
    color: #fff; /* Цвет текста */
  }
  
  .button-section:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 25%; /* Положение полоски с 25% от верхней границы */
    bottom: 25%; /* Положение полоски с 25% от нижней границы */
    right: 0;
    width: 1px;
    background-color: #000; /* Цвет полоски */
  }
  
  .link-style {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: inherit; /* Наследуем цвет от родительского элемента */
  }