
.container44 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* 100% высоты окна браузера */
  }
  
  .text44 {
    color: white;
    font-size: 24px;
    text-align: center;
  }
  
  .image-container44 {
    width: auto;
  }
  
  .image44 {
    max-width: 100%; /* Максимальная ширина картинки будет равна ширине родительского контейнера */
    max-height: 90vh; /* Максимальная высота картинки будет 90% высоты окна браузера */
  }
  