@keyframes moveStar {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(30px, -30px) scale(1.5);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Анимация для звезд */
  @keyframes fly {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(var(--x-end), var(--y-end));
    }
  }
  